<h4>New Thread:</h4>
<form method="post">

    <div class="row" >
        <div class="col-md-6" style="padding-top: 6px; padding-bottom: 6px">
            <b>jrjs1996@hotmail.com</b>
        </div>

        <div class="col-md-1" style="padding-top: 6px; padding-bottom: 6px">
            <label for="title">Title: </label>
        </div>
        <div class="col-md-5" style="padding-bottom: 5px">
            <input id="title" type="text" name="title" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <textarea class="form-control" rows="5" id="message" name="message"></textarea>
                <br>
                <input type="submit" class="btn btn-info" value="Post New Thread">
        </div>
    </div>

</form>