<script>

    var addMatchTypeBtn = $("#addMatchTypeButton");

    addMatchTypeBtn.click( function () {
            var name = $("#addMatchTypeInput").val();
            $.post('settings/', {
                operation: 'addMatchType',
                name: name,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
            }).done(
                function (result) {
                    window.location.reload()
                }
            )
        });

    function deleteMatchType(id) {
            $.post('settings/', {
                operation: 'deleteMatchType',
                id: id,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
            }).done(
                function (result) {
                    window.location.reload()
                }
            )
        }

    $(".matchTypeLink").click(function () {
        var matchTypeId = this.id;
        $.ajax({
              dataType: "text",
              url: "matchtype/" + this.id + "/",
              // When the data is received from the request, do this:
              success: function (result) {
                  $("#content").html(result.toString());
                  var location = "dev/sandbox/{{ game.id }}/matchtype/" + matchTypeId + "/";
                  sessionStorage.setItem("sandboxControlPanelTab" + {{ game.id }}, location)
              }
          })
    });
</script>

{% csrf_token %}

{% if matchTypes.count == 0 %}
    <br>
    <h3 style="color: red">You haven't added any match types for this game yet.</h3>
    <br>
    <br>
{% else %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Match Types</th>
        </tr>
        </thead>
        <tbody>
        {% for matchType in matchTypes %}
            <tr>
                <td><a id="{{ matchType.id }}" class="matchTypeLink" style="cursor: pointer">{{ matchType.name }}</a></td>
                <td><button class="btn btn-danger" onclick="deleteMatchType({{matchType.id}})">Delete</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div class="row">
    <div class="col-md-3 col-xs-12" style="padding-bottom: 5px">
        <input class="form-control" type="test" id="addMatchTypeInput" placeholder="Name" />
    </div>
    <div class="co-md-2 col-xs-12">
        <button class="btn btn-success" id="addMatchTypeButton">Add Match Type</button>
    </div>
</div>


