 {% extends 'main/header.html' %}
 {% load static %}
 {% block content %}

     <div class="container">

     <div class="col-lg-12">
                <h1 class="page-header">
                    Developers
                </h1>
            </div>
            <div style="font-size: 150%">
                Here you will find resources for including the emerald platform in your game. Get started by watching
                one of our tutorials or check out our API reference.<br><hr><br>
            </div>

     <div class="row">
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-code"></i> API Reference</h4>
                    </div>
                    <div class="panel-body">
                        <p>Here you will be able to reference our API and see which HTTP requests to use when including
                        emerald in your game, and how to use them.</p>
                        <a href="/dev/reference" class="btn btn-default">View</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-book"></i> Console Tutorial</h4>
                    </div>
                    <div class="panel-body">
                        <p>Get started working with the emerald platform with the unity console tutorial. Here you
                        will learn all about the process of running a game match in a unity game. This is a great
                        place to start if you haven't used the emerald platform before.</p>
                        <a href="/dev/tutorials/console" class="btn btn-default">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-thumbs-up"></i> Emerald Console</h4>
                    </div>
                    <div class="panel-body">
                        <p>Familiarize yourself with the emerald platform by using the console example project. Use a
                        simple command line interface to simulate a game with players.</p>
                        <a href="#" class="btn btn-default">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gamepad"></i> ZZZZZZZZZZZZZZ</h4>
                    </div>
                    <div class="panel-body">
                        <p>ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ</p>
                        <a href="#" class="btn btn-default">ZZZZZZZZZZZZZZ</a>
                    </div>
                </div>
            </div>

        </div>

        </div>

     </div>
 {% endblock %}