{% extends 'main/header.html' %}
{% block header %}
    {% load staticfiles %}
    <script type="application/javascript" src="{% static 'main/js/dev.js'%}"></script>
    <link rel="stylesheet" src="{% static 'main/css/span6.css' %}">
    <script type="application/javascript">
        $( function() {
            controlPanel('devSettingsTab', 'dev/games/');
            companyName();
        })
    </script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="col-md-12">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Developer Account
                    <small>> {{ user.user_name }}</small>
                </h1>
            </div>

            <h4>Email: {{ user.email }}</h4>
            <div id="companyName">
                {% include 'main/dev/account/companyName.html' %}
            </div>
            <h4>Balance: ${{ user.balance }}</h4>

            <br>
            <br>
            <a href="/deposit/" class="btn btn-default">Deposit</a>
            <br>
            <br>
            <h4>Date Joined: {{ user.date_joined }}</h4>
            {% if errorMessage is not None %}
                <span style="color: red">{{ errorMessage }}</span>
            {% else %}
            <br/>
            {% endif %}

            <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid" >
                    <ul class="nav navbar-nav" id="controlPanel">
                        <li class="navlink" id="dev/games/"><a href="#">Games</a></li>
                        <li class="navlink" id="forumactivity/" id="forum"><a href="#">Forum Activity</a></li>
                    </ul>
                </div>
            </nav>
            <div id="content">
            </div>
        </div>
    </div>

{% endblock %}