{% extends 'main/header.html' %}
{% block content %}

    <div class="container">
        <div class="col-md-12">
                        <div class="col-lg-12">
                <h1 class="page-header">
                    Account
                    <small>> {{ user.user_name }}</small>
                </h1>
            </div>

            <h4>Email: {{ user.email }}</h4>
            <h4>First Name: {{ user.player.first_name }}</h4>
            <h4>Last Name: {{ user.player.last_name }}</h4>
            <h4>Balance: ${{ user.balance }}</h4>

            <br>
            <br>
            <a href="/deposit/" class="btn btn-default">Deposit</a>
            <br>
            <br>
            <h4>Date Joined: {{ user.date_joined }}</h4>
            </div>
            </div>

{% endblock %}