{% if user.message_set.count > 0 %}
            <h3>Forum Posts: </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Thread</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in user.message_set.all %}
                    <tr>
                        <td width="40%"><a href="/forum/{{ message.thread.category }}/{{ message.thread.id }}/">{{ message.date }}</a></td>
                        <td>{{ message.thread.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p style="color: red">You don't have any forum posts yet! Head on over to the forum and join the conversation!
                </p>
                <br>
            {% endif %}
        </div>
    </div>