 {% extends 'main/header.html' %}
 {% load static %}
 {% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">How to play
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Panels -->
                <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Getting Started</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #4cae4c"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Create an Account</h4>
                        <p>To get started playing on Emerald go to our signup page and create an account.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #4cae4c"></i>
                              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Make a deposit</h4>
                        <p>Head to your account page and make a deposit using your credit card or paypal account.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #4cae4c"></i>
                              <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Play a match.</h4>
                        <p>Start up your game of choice (you can see which games use emerald in our games section). Join
                        an emerald match and play!</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
     </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% endblock %}
