{% extends 'main/header.html' %}
{% block content %}
    <div class="container">
    <h1 class="page-header">User Sign Up</h1>
        <div class="col-md-4">
            <form method="post" action="/{{ action }}/">
                <p>
                    <label for="email">Email:</label>
                    <input name="email" class="form-control">
                </p>
                <p>
                    <label for="user_name">Username:</label>
                    <input name="user_name" class="form-control">
                </p>
                <p>
                    <label for="first_name">First Name:</label>
                    <input name="first_name" class="form-control">
                </p>
                <p>
                    <label for="last_name">Last Name:</label>
                    <input name="last_name" class="form-control">
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input name="password" class="form-control" type="password">
                </p>
                <p>
                    <label for="confirm_password">Confirm Password:</label>
                    <input name="confirm_password" class="form-control" type="password">
                </p>
                <p style="color: red">
                    {{ errorMessage }}
                </p>
                <input type="hidden" name="next" value="/" />
                <input type="submit" class="btn btn-default" value="Submit" />
                {% csrf_token %}
            </form>
        </div>
        <div class="col-md-8">
            <br>
            <p>Are you a game developer looking to include the emerald platform in your game? Click <a href="/dev/signup/">here</a> to create a
            developer account.</p>
        </div>


    </div>
{% endblock %}