{% extends 'main/header.html' %}
{% block header %}
    {% load staticfiles %}
    <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript">

    $(function(){  // on page load
      $("#newThreadButton").click(function () {
          $.ajax({
            dataType: "text",
            url: "/forum/newthread/",
            success: function(result){
            $("#newThread").html(result);
            }});
      })
      })
    </script>
    <link rel="stylesheet" href="{% static 'main/css/span6.css' %}">

{% endblock %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forum
                    <small>> {{ category }}</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ category }}
                    <small></small>
                </h2>
            </div>
        </div>
        <!-- /.row -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Last Message</th>
                </tr>
            </thead>
            <tbody>
                {% for thread in threads %}
                <tr>
                    <td width="70%"><a href="{{ thread.id }}/">{{ thread.title }}</a><br>
                    <small>{{ thread.message_set.first.user.user_name }}, {{ thread.message_set.first.date }}</small></td>
                    <td>{{ thread.message_set.count }}</td>
                    <td>{{ thread.views }}</td>
                    <td>{{ thread.message_set.last.user.user_name }}<br>
                    <small>{{ thread.message_set.last.date }}</small></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post">
            {% csrf_token %}
            <div id="newThread">
                <input class="btn btn-info" value="Post New Thread" id="newThreadButton">
            </div>
        </form>
        <div>
        </div>
    </div>
{% endblock %}