{% extends 'main/header.html' %}

{% block content %}

    <div class="container">

    <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Forum
                </h1>
            </div>
            <div style="font-size: 150%">
                We have opened our developers forum! As we are currently in development our 'General' and 'Games'
                sections are not open yet. These sections will be open to users when the emerald platform is
                released.<br><hr><br>

            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-code"></i> Developers</h4>
                    </div>
                    <div class="panel-body">
                        <p>Here developers can share and seek advice on integrating the emerald platform with
                        their games. Have a suggestion that will make our platform easier to use for yourself and other
                        developers? Feel free to leave your recommendations here.</p>
                        <a href="Developers/" class="btn btn-default">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-thumbs-up"></i> General</h4>
                    </div>
                    <div class="panel-body">
                        <p>General topics and questions here. Feel free to start a thread about the emerald platform or
                        anything else on your mind.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gamepad"></i> Games</h4>
                    </div>
                    <div class="panel-body">
                        <p>Here you will find sections for each of the games that use the emerald gaming platform. You
                        can post any questions you have for us or game developers here.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}